<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://cordova.apache.org/ns/plugins/1.0"
        id="com.cordova.ble"
        version="2.0.0">
    <name>OnyxBeacon</name>
    <description>OnyxBeacon plugin</description>
    <license>Commercial</license>

    <js-module src="www/ble.js" name="ble">
        <clobbers target="cordova.plugins.ble"/>
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="Ble">
                <param name="android-package" value="com.cordova.ble"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">


            <receiver android:name="com.cordova.ble.ContentReceiver">
                <intent-filter>
                    <action android:name="com.cordova.ble.content" />
                </intent-filter>
            </receiver>

            <receiver android:name="com.cordova.ble.BleStateReceiver">
                <intent-filter>
                    <action android:name="com.cordova.ble.scan" />
                </intent-filter>
            </receiver>

            <meta-data android:name="clientid" android:value="" />
            <meta-data android:name="secret" android:value="" />


            <!-- Permissions -->
            <uses-permission android:name="android.permission.BLUETOOTH"/>
            <uses-permission android:name="android.permission.INTERNET"/>
            <uses-permission android:name="android.permission.WAKE_LOCK" />
            <uses-permission android:name="android.permission.GET_ACCOUNTS" />
            <uses-permission android:name="android.permission.USE_CREDENTIALS" />
            <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

            <!-- Push permission -->
            <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
            <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
        </config-file>
        <source-file src="src/android/Ble.java" target-dir="src/com/cordova/ble"/>
    </platform>

    <!-- ios -->
    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="Ble">
                <param name="ios-package" value="Ble"/>
            </feature>
        </config-file>

        <header-file src="src/ios/Ble.h"/>
        <source-file src="src/ios/Ble.m"/>
    </platform>
</plugin>
